html { font-size:100%; } 

@media only screen and (min-width:400px) {

.bottom-container{font-size: 20px;}
.copyright {font-size:1rem;} 

td {
	height:  7rem;
	width:  7rem;
	
}
table {
	border-collapse: collapse;
	position: relative;
	left: 50%;
	margin-left: -22rem;
	top: 25rem;
}
.info{font-size: 4rem;}
}


@media only screen and (min-width:800px) {

.bottom-container{font-size: 25px;}
.copyright {font-size:1rem;}

td {
	height: 11.5rem;
	width:  11.5rem;
	
}

table {
	border-collapse: collapse;
	position: relative;
	left: 50%;
	margin-left: -17rem;
	top: 25rem;
}

}

@media only screen and (min-width: 1000px) {

.bottom-container{font-size: 14px} ;
.copyright {font-size:1rem;} 

td {
	height:  7rem;
	width:  7rem;
	
}

table {
	border-collapse: collapse;
	position: relative;
	left: 50%;
	margin-left: -10rem;
	top: 100px;
}
.info{font-size: 3rem;}
}




.navbar-brand{
	font-family: 'Staatliches', cursive;
}

h2{
	font-family: 'Cormorant Garamond', serif;
}
.info{
	font-family: 'Amatic SC', cursive;
}

label{
	margin: 20px 10px;
}

td {
	border:  2px solid #333;

	text-align:  center;
	vertical-align:  middle;
	font-family:  "Comic Sans MS", cursive, sans-serif;
	font-size:  70px;
	cursor: pointer;
}

table {
	border-collapse: collapse;
	position: relative;
}



table tr:first-child td {
	border-top: 0;
}

table tr:last-child td {
	border-bottom: 0;
}

table tr td:first-child {
	border-left: 0;
}

table tr td:last-child {
	border-right: 0;
}

.endgame {
  display: none;
  width: 200px;
  top: 120px;
  background-color: rgba(205,133,63, 0.8);
  position: absolute;
  left: 50%;
  margin-left: -100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 2em;
}

.won{
	background-color: #cee5d0;
}

#winMessage {
	font-size: 5rem;
	color: white;
	margin: 2rem;
}
.navbar-brand{
	font-size:3rem;
	margin:auto;

}
img{
	margin: 0 20px;
}

.bottom-container {
	position: fixed;
	width: 100%;
	bottom:0;
	text-align:center;
	background-color: #393e46;
	padding: 20px 0;
  }

  .made-by{
	font-family: 'Akaya Telivigala', cursive;
	color: #EAF6F6;
  
  }

a{
    color: #11999E;
	font-family: 'Montserrat', sans-serif;
	margin: 10px 20px;
	text-decoration: none;
  }

a:hover {
	color: #EAF6F6;
  }
.copyright {
  color: #EAF6F6;
  padding: 20px 0;
}

  

#endPage{
    position: fixed;
    display: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    top:0vh;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
}

#startPage{
    position: fixed;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    top:0vh;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
}

#whoStarts{
    position: fixed;
    display: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    top:0vh;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
}

#table-container{display:none;}




