:root {
  --primary-color: rgba(43, 115, 238, 0.335);
  --overlay-color: rgba(43, 70, 92, 0.85);
  --menu-speed: 0.75s;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0px;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}
@media (min-width: 1201px) {
  .blank {
    position: fixed;
    top: 0;
    width: 100%;
    height: 63px;
    padding: 1rem;
    background-color: rgba(11, 12, 12, 0.482);
    display: block;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
}
@media (max-width: 1200px) {
  .blank {
    position: fixed;
    top: 0;
    width: 100%;
    height: 73px;
    padding: 1rem;
    background-color: rgba(11, 12, 12, 0.482);
    display: block;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
}
.nav ul {
  display: flex;
  text-decoration: none;
}
.nav ul li {
  color: rgb(255, 255, 255);
  list-style: none;
  font-size: 1.35rem;
}
.nav ul li a {
  display: block;
  margin-left: 80px;
  justify-content: center;
  align-items: center;
  padding: 2.5px 5.5px;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.931);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

@media (max-width: 1201px) {
  .nav ul li a {
    display: none;
  }
}

.nav ul li a:hover {
  color: black;
  background-color: whitesmoke;
  transition: 0.7s;
}

.showcase {
  background: linear-gradient(to right, #181616, #dd820a);
  color: #fff;
  height: 100%;
  position: relative;
}

.showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 10%;
}

.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: fixed;
  top: 0;
  left: 19px;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: ari;
  animation-duration: 1.1s;
  animation-iteration-count: 1;
  animation-direction: alternate-reverse;
}
@keyframes ari {
  100% {
    transform: translate(-200%);
  }
  75% {
    transform: translate(-290%);
  }
  50% {
    transform: translate(-260%);
  }
  25% {
    transform: translate(-230%);
  }
  0% {
    transform: translate(-90%);
  }
}
@media (min-width: 1200px) {
  .menu-wrap .toggler {
    display: none;
  }
  .menu-wrap .hamburger {
    display: none;
  }
}
/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
  transition-property: font-size;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li :hover {
  font-size: 3.45rem;
}
@media (min-width: 1201px) {
  #logo img {
    height: 62px;
    width: 62px;
    position: fixed;
    top: 0;
    left: 5px;
    margin: 0px;
    padding: 0px;
  }
  #logo img:hover {
    cursor: pointer;
  }
}

@media (max-width: 1200px) {
  #logo img {
    float: right;
    top: 0;
    bottom: 0;
    left: 0;
    height: 47px;
    width: 47px;
  }
  #logo img:hover {
    cursor: pointer;
    top: 15px;
    left: 15px;
    transform: scale(1.2);
    transition-property: transform;
    transition-duration: 1.88s;
  }
}

/*
          DON'T TOUCH ABOVE CODE
        */

.main {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  width: 100%;
  background: linear-gradient(to right, #181616, #dd820a);
}
::placeholder {
  color: #fff;
  font-size: 15px;
}
.main h1 {
  color: white;
  font-size: 40px;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  padding: 50px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  overflow: hidden;
}
.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
  transform: skew(-20deg);
}

.container h2 {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 32px;
  margin-bottom: 20px;
}
.container .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.container .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 20px;
}
.container .row100 .col .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #fff;
}
.container .row100 .col .inputBox input,
.container .row100 .col .inputBox textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 0 10px;
  z-index: 1;
  color: rgb(255, 255, 255);
}
.container .row100 .col .inputBox text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}
.container .row100 .col .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}
.submit-class {
  align-items: center;
  text-align: center;
}
button {
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  outline: none;
  background: #fff;
  color: #000;
  font-weight: 700;
  font-size: 20px;
  border-radius: 10px;
}
button:hover {
  color: white;
  background: black;
  transition: 0.6s;
}
