html {
  box-sizing: border-box;
  font-size: 10px;
  background: #ffc600;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Amatic SC", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 9.5rem;
  line-height: 1;
  margin-bottom: 0;
}

.score {
  background: rgba(255, 255, 255, 0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url("../images/dirt.svg") bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url("../images/mole.svg") bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.hole.up .mole {
  top: 0;
}

button {
  background-color: #86340a;
  height: 80px;
  width: 140px;
  border-radius: 50%;
  color: white;
  font-size: 2.8rem;
  font-weight: 800;
  border: rgb(12, 11, 11) solid;
  margin-top: 30px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(192, 46, 10);
  transition: background-color 0.3s ease;
}

/* Attribution */

.attribution {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  bottom: 10px;
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 10px;
  text-align: center;
  color: #86340a;
  font-weight: 500;
}

.attribution a {
  text-decoration: none;
  color: #555;
}

.attribution a:hover {
  color: rgb(12, 12, 12);
}
