@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.food-munch-logo {
    width: 80px;
    height: 70px;
}

#navItem1 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem2 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem3 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem4 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem5 {
    color: #323f4b;
    font-family: "Roboto";
    text-decoration: none;
}

#navItem6 {
    color: #d0b200;
    font-family: "Roboto";
    text-decoration: none;
}

.banner-section-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
    height: 100vh;
    background-size: cover;
}

.banner-heading {
    color: white;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 300;
}

.banner-caption {
    color: #f5f7fa;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
}

.custom-button {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.custom-outline-button {
    color: #d0b200;
    background-color: transparent;
    width: 130px;
    height: 45px;
    border-style: solid;
    border-width: 1px;
    border-color: #d0b200;
    border-radius: 8px;
    margin-bottom: 10px;
}

.wcu-section {
    background-color: #f3fbfe;
}

.wcu-section-heading {
    font-family: 'Roboto';
    font-weight: 700;
    color: #183b56;
    font-size: 28px;
}

.wcu-section-description {
    font-family: 'Roboto';
    font-size: 16px;
    color: #5a7184;
}

.wcu-card {
    background-color: white;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
}

.wcu-card-image {
    height: 90px;
    width: 87px;
}

.wcu-card-title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 22px;
    color: #323f4b;
}

.wcu-card-description {
    font-family: 'Roboto';
    font-size: 16px;
    color: #7b8794;
}

.offers {
    color: #323f4b;
    font-style: italic;
    font-weight: 600;
}

.explore-menu-section {
    background-color: white;
}

.menu-section-heading {
    font-family: 'Roboto';
    font-weight: 700;
    color: #183b56;
    font-size: 28px;
}

.menu-item-card {
    border-radius: 16px;
}

.menu-item-image {
    border-radius: 16px;
}

.menu-card-title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    color: #323f4b;
    margin-top: 24px;
}

.menu-item-link {
    color: #d0b200;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
}

.healthy-food-section {
    background-color: #f9fbfe;
}

.healthy-food-section-img {
    width: 270px;
}

.healthy-food-section-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
}

.healthy-food-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.custom-button {
    width: 130px;
    height: 45px;
    color: white;
    background-color: #d0b200;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.delivery-and-payment-section-img {
    width: 270px;
}

.delivery-and-payment-section-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
}

.delivery-and-payment-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.payment-card-img {
    width: 50px;
    height: 50px;
    margin-right: 28px;
}

.thanking-customers-section {
    background-color: #d0b2001a;
}

.thanking-customers-section-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
}

.thanking-customers-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.thanking-customers-section-img {
    width: 270px;
    margin-bottom: 20px;
}

.follow-us-section {
    background-color: white;
}

.follow-us-section-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
    text-align: center;
}

.footer-section {
    background-color: #0d2436;
}

.footer-section-mail-id {
    color: #959ead;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}

.footer-section-address {
    color: #959ead;
    font-family: "Roboto";
    font-size: 14px;
}

.icon {
    color: #d0b200;
    font-size: 35px;
}

.follow-us-icon-container {
    width: 80px;
    height: 80px;
    background-color: #faf7e8;
    padding-top: 24px;
    padding-left: 24px;
    padding-bottom: 24px;
    padding-right: 24px;
    margin: 15px;
    border-radius: 35px;
}

.thanking-customers-section-modal-title {
    color: #d0b200;
    font-weight: 800;
}