@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #a5a58d;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  color: #2b2d42;
  min-height: 100vh;
}
.full-height-grow {
  display: flex;
  flex-direction: column;
}

img {
  height: 50px;
}
.brand-logo {
  display: flex;
  align-items: center;
  font-size: 1.4em;
  color: #fff;
  text-decoration: none;
}
.brand-logo-name {
  margin-left: 1rem;
}
.main-nav ul,
.footer-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav a,
.footer-nav a {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
}
.main-nav a:hover,
.footer-nav a:hover {
  color: #277da1;
}
.main-header,
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header {
  height: 140px;
}

.main-footer {
  height: 60px;
  background-color: #6b705c;
  font-weight: bold;
}

.social-link img {
  width: 1em;
  margin-right: 0.25rem;
}
.main-footer .container {
  display: flex;
  justify-content: space-between;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  flex-grow: 1;
}

.title {
  font-weight: 500;
  font-size: 3em;
  margin-bottom: 1rem;
  margin-top: 0;
}

.subtitle {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 2rem;
}

.btn {
  color: #2b2d42;
  background-color: #83c5be;
  text-decoration: none;
  padding: 0.75em 1.5em;
  border-radius: 5px;
  font-size: 0.9rem;
  outline: none;
  border: 0.5px solid #2b2d42;
  cursor: pointer;
}
.btn:hover {
  background-color: #8d99ae;
}
.btn:focus {
  background-color: #8d99ff;
}
.circle-1 {
  position: absolute;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: rgb(188, 58, 128, 0.1);
  bottom: 2vw;
  left: 5vw;
  z-index: -1;
}

.circle-2 {
  position: absolute;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: rgba(103, 185, 92, 0.356);
  top: 15vh;
  left: 30vw;
  z-index: -1;
}

.circle-3 {
  position: absolute;
  overflow: hidden;
  width: 45vw;
  height: 45vw;

  bottom: 0;
  right: 0;
  z-index: -1;
}
.circle-3::before {
  content: "";
  transform: translate(40%, 40%);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgba(103, 185, 92, 0.356);
}
